@font-face {
	font-family: "Segoe UI";
	src: url(../font/segoeui.ttf) format("truetype");
	font-size: 1.5em;
}
@font-face {
	font-family: "Segoe UI Light";
	src: url(../font/segoeuil.ttf) format("truetype");
	font-size: 1.5em;
}
*{
	font-family: "Segoe UI";
	margin: 0;
	background-size: cover;
	-o-transition:0.16s ease-in-out;
	-moz-transition:0.16s ease-in-out;
	-webkit-transition:0.16s ease-in-out;
	-ms-transition:0.16s ease-in-out;
	scroll-behavior: smooth;
}
*::-webkit-scrollbar { width: 0 !important }
* { -ms-overflow-style: none; }
* { overflow: -moz-scrollbars-none; }
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.spacer{
	width: 33%;max-width: 275px;height: 100%; float: left;
}